__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.pytype/
.mypy_cache/
.venv/
.env*

*.ipynb_checkpoints/
notebooks/*-checkpoint.ipynb

.git/
.gitignore

.vscode/

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
